<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Search Engine -->
    <meta name="keywords" content="ON3, sites, design, analise">
    <meta name="description" content="ON3 ajuda a sua empresa melhorar o rendimento através a criação, design e análise do seu site.">

    <!-- Icone na aba -->
    <link rel="shortcut icon" href="" type="image/x-icon" /> 

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ON3</title>

    <!-- normalizar -->
    <link href="css/normalize.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>


    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">

    <!--fontawesome-->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <!--animation-->
    <link href="css/animate.min.css" rel="stylesheet">

    <!--main css-->
    <link href="css/style.css" rel="stylesheet">

    <!--main css-->
    <link href="css/responsive.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- contato -->
    <section id="contact_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="cursive"><span class="sectiontitle">Contato</span></h2>
                </div>
            </div>

            <div id="main">
              <div class="emailform">
                  
                  <div class='sent' ng-class="{ 'hidden': !submit }">
                    <h1>
                      Message sent!
                      <small>&hellip;okay, not really.</small>
                    </h1>
                  </div>
                  
                <form id="contactForm" name="contactForm" ng-class="{ 'hidden': submit }" method="post" action="https://script.google.com/macros/s/AKfycbz_DQdj-bIKC6XNvNacUC_uEjQyRFWKikmkrQgTv-EXXlJt_dDJ/exec">
                  
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" name="nome" placeholder="Full name" class="full item name" spellcheck="false">
                    </div>

                    <div class="col-md-6">
                      <label for='email' ng-class="{'required':contactForm.email.$error.required,'invalid':contactForm.email.$error.email,'ok':contactForm.email.$valid}">
                      <input id='email' required type="email" name="email" placeholder="Email" ng-model='email' class="full item email" spellcheck="false">
                        </label>
                    </div>
                  </div>

                  <div class="row indent item">
                    <label for='subject' ng-class="{'required':contactForm.subject.$error.required,'ok':contactForm.subject.$valid}">
                    <input id='subject' required type="text" name="titulo" placeholder="Subject" ng-model='subject' class="full subject" spellcheck="false">
                    </label>
                  </div>

                  <div class="row indent item">
                    <label for='message' ng-class="{'required':contactForm.message.$error.required,'ok':contactForm.message.$valid}">
                    <textarea name="texto" ng-model='message' class="full msg" placeholder="Message" required></textarea>
                    </label>
                  </div>

                  <div class="row form-controls">
                    <button class="btn-contact btn btn-send" ng-click='submit = ! submit' ng-disabled='contactForm.$invalid' type="submit" value="send">Send</button>
                  </div>
                  
                </form>
                
              </div>
            </div>
            
        </div>
    </section>
    <!-- end call to action area (contato)-->

    <!-- main jQuery-->
    <!--<script src="js/jquery-1.11.3.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85807/html5shiv.min.js"></script>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85807/jquery.placeholder.min.js"></script>


    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->

    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- wow js -->
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <!-- main js -->
    <script src="js/main.js"></script>

    <!-- menu js -->
    <script src="js/menu.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.9/jquery.transit.min.js"></script>

    <!-- home js -->
    <script src="js/home.js"></script>
    <script data-cfasync="false" type="text/javascript"
src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

</body>

</html>
