/************** deafault css******************/

.floatleft {
    float: left
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.section_padding {
    max-width: 100%
}

a:focus {
    outline: 0px solid
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
}

html,
body {
  color: #fff;
}

.section_padding {
    padding: 40px 0px
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/************** main css ******************/
/************** header css ******************/


#header_area {
    background-size: 100%;
    background-position: center center;
    margin-top: 56px;
    padding: 0px;
}



.navbar-nav>li>a {
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus {
    background: none
}

.header_area_text {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-right: 500px;
}

.header_area_text h2 {
    margin-left: 0px;
    text-align: left;
    font-size: 50px;
    color: #fff
}

.cursive {
    font-family: 'Pacifico', cursive;
}


.header_area_text p {
    color: #fff;
    margin: 30px 0px;
}

.header_area_text a {
    background: #4ECB8C;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}



/************** navbar ******************/

$navbar-bg: #333132;

/* Color Palletes */
/*Just change the color e.g. $red or $green or define you color as you like....*/
/* Base Styles */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333132;
  opacity: 1;
  text-decoration: none;
}
a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

.content {
  text-align: center;
  margin-top: 2em;
}

/* Navigation Styles */
/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333132;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 -3px 0 #333132 inset;
  z-index: 150; 
}

.container {
  margin: 0 auto;
}

.logo {
  font-family: inherit;
  font-size: 1.5em;
  margin-left: 1em;
}
.logo a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.logo a:hover {
  opacity: 0.85;
}


/**************** NAVBAR START **************/


#header-nav li a {
  display: block;
  border-bottom: 0;
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
}
#header-nav li a:hover {
  color: #F47929;
}



#header-nav {
  padding: 0px;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: black;
  -webkit-transition: -webkit-transform 0.7s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.7s 0.3s ease;
  transition: transform 0.7s .3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
  z-index: 1000;
}
#header-nav.hide-nav-bar {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-backface-visibility: hidden;
}
a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}
nav[role=navigation] {
  clear: right;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}
nav[role=navigation].active {
  max-height: 15em;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  float: left;
  padding: 0.7em 0;
}
nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  font-size: 0.9em;
}
.menu-link {
  height: 30px;
  width: 33px;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  margin-top: 3px;
  margin-left: -47px;
  background: #333132;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.bar2 {
  margin-top: 13px;
}
.bar3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.brand {
  float: left;
  margin-left: 1em;
  padding: 1em;
}

.brand h1 {
  display: block;
  border-bottom: 0;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 32px;
  font-weight: bold;
  margin: 0;
}
.brand h1:hover {
  color: #F47929;
}

@media screen and (min-width: 480px) {
  a.menu-link {
    display: none;
    padding: 0px;
  }
  .js nav[role=navigation] {
    max-height: none;
  }
  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
    float: right;
  }
  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }
  nav[role=navigation] li a {
    border: 0;
  }
}








/************** img slider css ******************/

.nopadding {
    padding-right:0 !important;
    padding-left:0 !important;
}

#myCarousel {
  max-height: 600px;
}


/************** servicos_area css ******************/

#servicos_area {
    height:auto;
    position: relative;
    background: #d9d9d9;
}

#servicos_area h2 {
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
}

#tituloservico h3 {
  z-index: 100;
  position: absolute;
  color: #FFF;
  font-size: 40px;
  left: 150px;
  top: 100px;
}


.servicos h3 {

}

.fotoservico {
  position: absolute;
  left: 25px;
  top: 0;
}

.textoservicos {

}

.criacao table tr td h3 {
    color: #46C1BE;
    position: absolute;
    top: 25px;

}

.criacao p {
    color: #013A34;
    z-index: 100;
    position: absolute;
    font-size: 18px;
    top: 400px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}



.analise h3 {
    color: #F47929;
    position: absolute;
    left: 160px;
    top: 30px;
}

.analise p {
    color: #5E2C0F;
    z-index: 100;
    position: absolute;
    font-size: 18px;
    left: 50px;
    top: 420px;
    width: 300px;
}

.divulgacao h3 {
    color: #F6E46D;
    position: absolute;
    left: 160px;
    top: 30px;
}

.divulgacao p {
    color: #665925;
    z-index: 100;
    position: absolute;
    font-size: 18px;
    left: 50px;
    top: 420px;
    width: 300px;
}

@media screen and (orientation: landscape) {
  img.fotoservico-responsive { max-width: 309px; }
}

.single_feature {
    position: relative;
    text-align: center;
    padding: 10px;
    height: auto;
}

.single_feature h3 {
    position: absolute;
    margin-top: 35px;
    text-align: center;
    width: 100%;    
}

.single_feature h3 span { 
   padding: 10px;
}

.single_feature p span { 
   padding: 10px;
}

.single_feature table {

    border:0;
    margin-left:auto; 
    margin-right:auto;
}

/************** sobre_area css ******************/

#sobre_area {
    background: #5cd6d6;
    height: 100%;
}

#sobre_area h2 {
    margin-bottom: 80px;
}

.story_text {}

.story_text h2,
.experience h2 {
    margin-bottom: 40px;
}

.story_text p,
.experience p {
    margin-bottom: 30px;
}

.story_text a {
    border: 2px solid #333333;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    margin-top: 20px;
    text-transform: uppercase
}

.experience a {
    border: 2px solid #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase
}

#portfolio_area {
    background: #fff;
    position: relative
}

#portfolio_area h2 {
    margin-bottom: 50px;
}

.clients_say {
    margin-bottom: 30px
}

.clients_say_list {
    margin-top: 20px;
}

.clients_say p {
    border: 2px solid #E3E3E3;
    padding: 20px 40px;
}

.say {
    text-align: right;
    width: 90%;
    margin-top: 10px
}

.say h5 {
    margin: 0;
    color: #000
}

.say h6 {
    margin: 0;
    color: #666666
}

.c_img {
    width: 10%;
    text-align: right
}

.c_img img {
    border-radius: 50%
}

#Experience_area {
    background: #353535;
    color: #fff
}

.skills {}

.skills h2 {
    margin-bottom: 40px;
}

.progress-bar {
    background: #36C36E;
}
/************** blog area css ******************/

#blog_area {
    background: #fff
}

.single_blog {}

.single_blog img {}

.single_blog h2 {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    margin-top: 20px
}

.single_blog p {
    margin: 10px 0px;
}

.comment_area {
    color: #999999
}

.date i,
.comment i {
    margin-right: 10px;
}
/************** call to action css ******************/

#caal_to_action_area {
    background: #36C36E;
    padding: 30px 0px;
    color: #fff;
}

.call_to_action_text {}

.call_to_action_text h2 {
    margin: 0
}

.call_project a {
    border: 2px solid #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    margin-top: 13px;
    text-transform: uppercase
}
/************** footer area css ******************/

#footer_area {
    background: #232323;
    padding: 30px 0px;
    color: #fff;
}

.company_logo {
    margin-top: 5px
}

.company_logo h2 {}

.company_address {
    padding: 45px 0px;
}

.company_address h2 {
    font-size: 18px;
    color: #FFF;
}

.company_address p {
    font-size: 14px;
    font-weight: 300
}

.company_address h3 {
    font-size: 14px;
    font-weight: 300
}

#preloader {
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#preloader i {
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}


/************************************/

#top-button {
    background: #5cd6d6;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}


/****************************/



/****************************************************/


#contact_area {
    background: #ffff80;
    position: relative
}

#thankyou_message {
  display: none;
}



@import "bourbon";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);

$background: #333132;
$border-width: 50px;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333132;
}

/* coloquei isso aqui รณ */
input:focus, textarea:focus{
  display: inline-block;
  background-color: #4e4b4d;
  outline: none;
  color: #ffff80;
  border: 5px solid #4e4b4d;
}

textarea {
  background-color: #333132;
  color: #ffff80;
  padding-right: 5px;
  padding-left: 5px;
}

input {
  background-color: #333132;
  color: #ffff80;
  padding-right: 5px;
  padding-left: 5px;
}


.full {
  width: 100%;
  border: 5px solid #333132;
  margin-bottom: 20px;
}

.indent {
  padding-right: 15px;
  padding-left: 15px;
}

#main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}


.emailform {
  margin-top: 5%;

  }

  textarea {
    height: 200px;
  }

  button[type="submit"] {
    font-size: 1.3em;
    color: #ffff80;
    border: none;
    padding: 8px 20px;
    background: #333132;

    &:hover {
      cursor: pointer;
      background: #4e4b4d;
    }
  }
}

.btn-contact button {
  font-size: 1.3em;
  color: #ffff80;
  border: none;
  padding: 8px 20px;
  background: #333132;
}

.btn-contact button:hover {
  cursor: pointer;
  background: #4e4b4d;
}

::-webkit-input-placeholder {
  color: #ffff80;
}

::-moz-input-placeholder {
  color: #ffff80;
}

:-moz-input-placeholder {
  color: #ffff80;
}

:-ms-input-placeholder {
  color: #ffff80;
}


/****************************************************/

#home-button {
    background: #5cd6d6;
}

/****************************************************/

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.contact {
  display: inline-block;
  float: left;
  padding-left: 0;
  text-align: center;
  margin-left: 20%;
}

.contact .fa:before {
  display: inline-block;
}

.contact li {
  list-style: none;





}

.contact p {
  text-align: center;
}


.cont {
  text-align: center;

}

/*******************************************************/


.icon-img {
  width: 20px;
  height: 20px;
}




/*layout*/
.col-9{
    max-width: 900px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.col-3{
    max-width: 300px;
    width: 33.333333%;
    margin: auto;
    box-sizing: border-box;
}
/*items*/
.portfolio{
    padding-top: 2em;
    clear: both;
}
.menu{
    padding: .3em .3em;
}
.wrap{
    padding: .3em;
}
img{width: 100%;
    opacity: 1;
    transition: opacity .6s;}

figure{
    float: left;
    position: relative;
    line-height: 0;
    padding: .3em;
    cursor: pointer;
}
.img-wrap:before{
    content: '';
    position: absolute;
    top: .3em;
    left: .3em;
    right: .3em;
    bottom: .3em;
    background-color: #F47929;
    opacity: 0.5;
    transition: opacity 2s,
    background-color .4s; 
}
.img-wrap:hover:before{
    background-color: #F47929;
    opacity: 0;

}

h2 {
  font-size: 36px;
  text-align: center;
  margin: 15px;
  color: #000
}

.sectiontitle {
  display: inline-block;
  position: relative;
  font-weight: normal;
  color: #333132;
}

.sectiontitle:before,
.sectiontitle:after {
  content: "";
  position: absolute;
  height: 15px;
  border-bottom: 3px solid #333132;
  top: 11px;
  width: 60%;
}

.sectiontitle:before {
  right: 100%;
  margin-right: 15px;
}

.sectiontitle:after {
  left: 100%;
  margin-left: 15px;
}

@import url(http://fonts.googleapis.com/css?family=Raleway:200);

.team {
    color: #858585;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 200;
}

h4,
.h4{
    font-size: 18px;
    font-weight: bold;
}

.team
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 1px solid rgba(133,133,133,.15);
    background-color: #fff;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.09);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.09);
    box-shadow: 0 0 8px rgba(0,0,0,.09);
    float: left;
}

.teamimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -80px;
    width:170px;
    height:170px;
    background: #1bbc9d;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
}

.teamsocial
{
    height: 100%;
    background-color: #f7f5f5;
    position: relative;
    bottom: 10px;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.teamsocial > ul {
  box-sizing: border-box;
  display: flex;
  width: auto;
  text-align: center;
  justify-content: space-between;
  padding: 0 !important;
}

li.items {
  font: normal normal normal 25px/1 FontAwesome;
  width: auto;
  height: 50px;
  list-style: none;
  color: gray;
  font-size: 1.5em;
  line-height: 50px;
}

.facebook-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;

}


.google-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.linkedin-team
{
    float: left;
    width: 48px;
    height: 48px;
    color: #D1CFCF;
    display:block;
    font-size:30px;
    padding: 7px;
}

.facebook-team:hover
{
    color: #3B5998;
}

.google-team:hover
{
    color: #DE5845;
}

.linkedin-team:hover
{
    color: #3B5998;
}

.paper-plane {
  font-size: 15px;
  margin-right: 10px;
}

.mobile {
  font-size: 20px;
  margin-right: 10px;
}

.logo-footer {
  width: 50px;
  height: 50px;
  margin-left: 40%;
}
