/************** deafault css******************/

.floatleft {
    float: left
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.section_padding {
    max-width: 100%
}

a:focus {
    outline: 0px solid
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
}

.fix {
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Cabin', sans-serif;
}

html,
body {
  color: #fff;
}

.section_padding {
    padding: 40px 0px
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}



/************** main css ******************/

/************** contact css ******************/

h2 {
  font-size: 36px;
  text-align: center;
  margin: 15px;
  color: #000
}

.sectiontitle {
  display: inline-block;
  position: relative;
  font-weight: normal;
  color: #333132;
}

.sectiontitle:before,
.sectiontitle:after {
  content: "";
  position: absolute;
  height: 15px;
  border-bottom: 3px solid #333132;
  top: 11px;
  width: 60%;
}

.sectiontitle:before {
  right: 100%;
  margin-right: 15px;
}

.sectiontitle:after {
  left: 100%;
  margin-left: 15px;
}

@import url(http://fonts.googleapis.com/css?family=Raleway:200);

#contact_area {
    background: #ffff80;
    position: relative
}

.container {
  margin: 0 auto;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

#main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}


.emailform {
  margin-top: 5%;
}
  
.full {
  width: 100%;
  border: 5px solid #333132;
  margin-bottom: 20px;
}

.indent {
  padding-right: 15px;
  padding-left: 15px;
}

  textarea {
    height: 200px;
  }

  button[type="submit"] {
    font-size: 1.3em;
    color: #ffff80;
    border: none;
    padding: 8px 20px;
    background: #333132;

    &:hover {
      cursor: pointer;
      background: #4e4b4d;
    }
  }
}

.btn-contact button {
  font-size: 1.3em;
  color: #ffff80;
  border: none;
  padding: 8px 20px;
  background: #333132;
}

.btn-contact button:hover {
  cursor: pointer;
  background: #4e4b4d;
}

::-webkit-input-placeholder {
  color: #ffff80;
}

::-moz-input-placeholder {
  color: #ffff80;
}

:-moz-input-placeholder {
  color: #ffff80;
}

:-ms-input-placeholder {
  color: #ffff80;
}
